// Requires inline-block or block for proper styling
.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cell-text-overflow() {
  width: 100%;
  float: left;
  .text-overflow()
}