.project-config-progress-indicator-blanket {
  bottom: 0;
  left: 0;
  min-height: 470px;
  position: absolute;
  right: 0;
  top: 0;
  > .project-config-blanket {
    background-color: #fff;
    height: 100%;
    opacity: 0.5;
    width: 100%;
  }

  > .project-config-spinner {
    @size: 40px;

    background-image: inlineimage("utilities/widgets/progressindicator/images/loading.png");
    display: inline-block;
    left: 50%;
    height: @size;
    margin: -(@size / 2) 0 0 -(@size / 2);
    position: absolute;
    top: 50%;
    width: @size;
  }
}