
body {
	background: #fff;
	color: #333;
	font-family: Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857;
}
.subText {
	display:block;
	color:#333;
}

a {
	color: #3572b0;
	text-decoration: none;
	
}
tr { text-align: left; }
th { padding: 3px;  }
td { padding: 3px; border:1px solid; }


table > tr > td table { text-align: left; border:1px solid #00f; }
table > tr > td table tr { text-align: left; border:1px solid #00f; }
table > tr > td table th { background-color: red; padding: 3px; border:1px solid #00f; }
table > tr > td table td {background-color: red;  padding: 3px; border:1px solid #00f; }

.custom-fields{}
.sub-tasks{}
.linked-issues{}
.table-header{
	background-color#0f0;
}

.formtitle {
	color: #333;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.5;
	margin: 30px 0 30px;
	text-transform: none;
}

.formtitle img {
	display:none;
}

#previous-view::before, #previous-view::after {
	content: " ";
	display: table;
}
#previous-view::after {
	clear: both;
}
#previous-view::before, #previous-view::after {
	content: " ";
	display: table;
}
#previous-view {
	background-color: #fff;
	border-bottom: 2px solid #ccc;
	box-sizing: border-box;
	padding: 16px 8px;
	width: 100%;
}
.toolbar-split.toolbar-split-right {
	float: right;
}

.toolbar-trigger {
	background: #f5f5f5 none repeat scroll 0 0;
	border: 1px solid #ccc;
	box-sizing: border-box;
	color: #333;
	display: inline-block;
	float: left;
	height: auto;
	margin: 0;
	padding: 4px 10px;
	text-decoration: none;
	text-indent: 0;
	text-shadow: 0 1px 0 white;
	vertical-align: baseline;
	width: auto;
	cursor: default;
	border-radius: 3px;
}

.tableBorder {
	background-color: #fff;
	width: 100%;
	border-collapse: collapse;
}

.tableBorder-col {
	vertical-align: top;
	padding: 2px;
	border: 1px solid #ccc;
}
.tableBorder th
{
	background-color:#f0f0f0;
	text-align:left;
}

.noPadding
{
	padding: 0 !important;
}

.subText
{
	font-size: 60%;
	font-weight: normal;
}

.tabLabel
{
	font-weight: bold;
	border: 1px solid #ccc;
	border-bottom:none;
	padding: 2px;
	display: inline;
}

.blank
{
	padding: 0;
	margin: 0;
}

#descriptionArea
{
	margin: 0;
	padding: 2px;
	border: 1px solid #ccc;
}

hr
{
	border-top:1px solid #aaa;
}