// Static, cross-tenant-compatible colours
// See look-and-feel.lf.less for the dynamic ones
@topTxtColour: #ffffff;
@menuTxtColour: #ffffff;
@topBackgroundColour: #205081;
@menuBackgroundColour: #3b73af;
@textLinkColour: #3b73af;
@topSeparatorBackgroundColor: #2e3d54;
@topTextHighlightColor: #f0f0f0;
@menuSeparatorColour: #f0f0f0;
@heroButtonBaseBGColour: #3b7fc4;
@heroButtonTextColour: #ffffff;
@textActiveLinkColour: #3b73af;
@textHeadingColour: #333333;
@topHighlightColor: #296ca3;


// Tint the gradient steps based off the chosen look and feel colour
@heroButtonTopBGColour: @heroButtonBaseBGColour;
@heroButtonBottomBGColour: darken(@heroButtonTopBGColour, 6.8%);
@heroButtonHoverTopBGColour: saturate(lighten(@heroButtonTopBGColour, 9%), 22);
@heroButtonHoverBottomBGColour: desaturate(lighten(@heroButtonBottomBGColour, 2%), 2);
@heroButtonActiveBGColour: darken(@heroButtonBaseBGColour, 5%);

.aui-header {
    background: @topBackgroundColour;
    color: @topTxtColour;
    border-bottom-color: @topSeparatorBackgroundColor;
}

.aui-header {
    a {
        color: @topTxtColour;

        &:hover,
        &:focus {
            background-color: @topHighlightColor;
            color: @topTextHighlightColor;
        }
    }

    .aui-icon-dropdown,
    .aui-dropdown2-trigger::after {
        border-top-color: fadeout(@topTxtColour, 30%);
    }

    .aui-dropdown2-trigger {
        color: @topTxtColour;

        &:hover,
        &:focus,
        &.active {
            background-color: @topHighlightColor;
            color: @topTextHighlightColor;

            .aui-icon-dropdown,
            &::after {
                border-top-color: @topTextHighlightColor;
            }
        }
    }
    .aui-button.aui-button-primary.aui-style {
        color: @heroButtonTextColour;
        background-color: @heroButtonTopBGColour;

        &:hover,
        &:focus {
            background-color: @heroButtonHoverTopBGColour;
        }
        &:active {
            background-color: @heroButtonActiveBGColour;
        }
    }
}
