#project-issuetypes-perspective-container {
    position: relative;
}

#workflow-container {
    border: 1px solid #e5e5e5;
    margin-top: 10px;

    > #workflow-designer {
        height: 640px;
    }
}

#screeneditor-container {
    margin-top: 10px;
}

#workflow_edit_controls {
    padding-top: 5px;
    padding-bottom: 5px;

    > p {
        margin-right: 10px;
        display: inline-block;
    }
}

table.aui#project-config-issuetypes-table > tbody > tr > td {
    word-break: break-all;
}