@import "../global/css/jira-colours";

#permissions-error .form-footer {
  display: none;
}

.screen-editor {
  position: relative;

  &.read-only {
    .aui-tabs {
      strong {
        padding-left: 5px;
      }
      .add-tab {
        display: none;
      }
      .tabs-menu {
        overflow: hidden;
        display: block;
        // The li is required to fight the specificity war
        li.menu-item {
          .delete-tab,
          .tab-draghandle,
          .tab-edit {
            display: none;
          }
        }
      }
    }
    .aui-restfultable {
      .aui-restfultable-row {
        .field-name-cell {
          padding-left: 24px;
        }
      }
    }
  }

  /* Tabs */
  .tabs-pane {
    clear: both;
  }
  .aui-tabs {
    strong {
      white-space: nowrap;
      line-height: 20px;
      padding-left: 20px;
      padding-right: 5px;
      position: relative;
    }
    .add-tab {
      display: inline-block;
      padding: 4px 10px 3px 10px;
    }
    .tabs-menu.multiple-tabs .menu-item {
      .tab-draghandle, .delete-tab {
        display: inline-block;
      }
    }
    .tabs-menu {
      overflow: visible;

      li {
        list-style: none;
      }
    }
    .tabs-menu .menu-item {
      cursor: pointer;

      .tab-draghandle {
        display: none;
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
        background: transparent url("images/grippy.png");
        width: 8px;
        height: 100%;
        cursor: move;

      }
      .tab-edit, .delete-tab {
        cursor: pointer;
        color: @jira-color-subtle-text;
        visibility: hidden;

        &:hover {
          color: @jira-color-text;
        }
      }
      .delete-tab {
        display: none;
        margin-left: 5px;
      }

      &.field-drop-target > a,
      &.rename-active > a {
        border-color: #ddd;
      }
      &.field-drop-target {
        > a {
          border-color: #ddd;
        }
        &.hover > a {
          border-color: #999;
        }
      }
      &.rename-active {
        .aui-button {
          padding-top: 0;
          padding-bottom: 0;
          height: auto;
        }
        strong {
          display: inline-block;
          margin: 0;
          padding: 0;
          overflow: visible;

          a {
            display: inline;
            border: none;
          }
          form {

            white-space: nowrap;

            input {
              line-height: 12px;
              padding: 1px 2px;
              height: 12px;
            }
            .tab-name {
              margin-right: 5px;
            }
            .cancel {
              line-height: 17px;
              margin-left: 5px;
              &:hover {
                text-decoration: underline;
              }
            }
            .error {
              position: absolute;
              bottom: -18px;
              left: 0px;
            }
          }
        }
      }
      &.active-tab {
        cursor: default;

        .tab-draghandle,
        .tab-edit,
        .delete-tab {
          visibility: visible;
        }
      }
      &:hover,
      &.wd-activate-hover {
        .tab-draghandle {
          visibility: visible;
        }
      }
    }
    .tabs-menu.multiple-tabs .menu-item {
      .tab-draghandle,
      .delete-tab {
        display: inline-block;
      }
    }
  }

  /* Restful table */
  .aui-restfultable {
    thead {
      display: none;
    }
  }

  .aui-restfultable-row {
    .aui-restfultable-delete {
      visibility: hidden;
    }
    &.active .aui-restfultable-delete,
    &:hover .aui-restfultable-delete {
      visibility: visible;
    }
    .aui-restfultable-operations {
      width: 1px; // shrink-fit the operations
    }
  }

  .aui-restfultable-create {
    tr.aui-restfultable-focused:hover td,
    tr.aui-restfultable-focused td {
      background-color: #fff;
    }
    .aui-restfultable-operations .aui-button {
      display: none;
    }
    .field-name-cell .error {
      position: relative;
      left: -25px;
    }
  }

  /* Field Picker */
  .available-fields {

    position: relative;
    left: -25px;

    #field-picker-single-select {
      width: 300px;
      top: 2px;
    }
    #field-picker-field {
      margin-right: 10px;
    }
  }
}

// AUI overrides for restfultable
// They need to be placed here, since a field getting dragged gets placed as a child of <body>.
// This LESS file should never be included by anything except the ConfigureFieldScreen.java file. Let's hope that holds.
// the awkward selectors are necessary to overcome the specificity of AUI table styles. I really hate our CSS sometimes.
tr.aui-restfultable-row,
table.aui tr.aui-restfultable-row {
  td {
    line-height: 24px;
    vertical-align: middle;
  }

  .aui-button {
    line-height: 1;
    height: 24px;
  }
}

// AUI panel and AUI table both adding top borders that interfere with tab rendering
table.fields-table > tbody > tr:first-child > td {
  border-top: 0;
}

/* Inline dialogs */
#inline-dialog-add-tab {
  margin-top: 10px;
  .add-tab-contents {
    padding: 10px;
    input.text {
      width: 215px;
    }
    .aui-button {
      margin-left: 10px;
    }
  }
}

#inline-dialog-rename-error {
  margin-top: 5px;
  .error {
    padding: 5px 10px;
    color: #C00;
    font-weight: bold;
  }
}

.sorting-fields .aui-restfultable-row:hover .aui-restfultable-delete {
  visibility: hidden;
}

.renaming-tab .screen-editor {
  .tab-edit,
  .tab-draghandle,
  .aui-restfultable-delete,
  .delete-tab {
    visibility: hidden !important;
  }
  .menu-item a {
    border-color: #fff;
  }
}
