@import "webstatic:/ui/imports/jira-colours-lookandfeel";

.gadget,
.config {
    a {
        color: @jira-color-link;

        &:hover,
        &:focus,
        &:active {
            color: @jira-color-active-link;
        }
    }
}

.g-login.view {

    a {
        color: @jira-color-link;
        &:hover,
        &:focus,
        &:active {
            color: @jira-color-active-link;
        }
    }
}
