@import "../global/css/mixins/text-overflow";
@import "../global/css/jira-colours";

#project-config-panel-roles,
#inline-dialog-roles-add-users-dialog {
  .roles-in-progress-icon {
    display: none;
    margin-left: 4px;
  }
}

#project-config-panel-roles {

  h5 {
    margin-bottom: 10px;
  }

  .project-config-panel-header-label {
    margin: 0 10px 0 30px;
    &:first-of-type {
      margin-left: 0;
    }
  }

  .project-config-panel-header-value img {
    margin-right: 5px;
  }

  #project-config-panel-roles-default-assignee {
    color: @aui-color-mid;
  }

  table.aui {
    table-layout: fixed;
    tbody tr:hover {
      background-color: @aui-color-highlight-primary;
      .roles-remove {
        opacity: 1;
      }
    }
  }

  .roles-remove {
    border: 0;
    padding: 0;
    line-height: 1;
    cursor: pointer;
    background: transparent;
    float: right;
    opacity: 0;
  }

  .roles-remove-error {
    line-height: 18px;
    margin-right: 10px;
    float: right;
    color: @aui-color-red;
  }

  // table cell widths
  .roles-user-name {
    width: 20%;
    .roles-user-name-val {
      .cell-text-overflow();
    }
  }
  .roles-user-username {
    width: 20%;
    .roles-user-username-val {
      .cell-text-overflow();
    }
  }
  .roles-user-license {
    width: 20%;
    .roles-user-license-val {
      .cell-text-overflow();
    }
  }
  .roles-user-email {
    width: 20%;
    .roles-user-email-val {
      .cell-text-overflow();
    }
  }
  .roles-user-session {
    width: 16%;
  }
  .roles-user-actions {
    width: 4%;
  }

  .roles-group-name .aui-icon {
    margin-right: 5px;
    vertical-align: middle;
  }

  .roles-filter-form {
    padding: 10px;
    border-top: 1px solid @aui-border-color;
    border-bottom: 1px solid @aui-border-color;
    background-color: @aui-color-highlight-primary;

    .roles-filter-role-selector,
    .roles-filter-query-input {
      vertical-align: middle;
    }

    .roles-filter-role-selector {
      margin-right: 20px;

      // set the role selector width to auto
      max-width: none;
      width: auto;

      // BEGIN: Overriding the select2 css to make the select2 trigger looks like a subtle button
      .select2-choice {
        border-color: transparent;
        .select2-chosen {
          margin-right: 16px;
        }
      }
      &:focus,
      &:hover {
        .select2-choice {
          border-color: @aui-color-gray;
        }
      }
      &.select2-dropdown-open {
        .select2-choice {
          border-color: @aui-border-color;
        }
      }
      // END: Overriding the select2 css to make the select2 trigger looks like a subtle button
    }
    .roles-filter-query-input {
      padding-left: 25px;
      background: @aui-color-white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAb0lEQVR42p2RMQ7AIAhFWXsG1h7Gtffo6urqyJGpwyetomnwJ38BH/wgfZSaS7PABbVOqkqm3Fzx6IQTatlDb5PJi21YBy1iuNgjJIgzFXqyCcXj1Z1DXNGTiw01aP252DCCgH7Fk41h8KaAGMDxADnaOPucd/m3AAAAAElFTkSuQmCC) no-repeat 7px 7px;
    }
  }

  .roles-result-role-header {
    word-break: break-all;
    margin-top: 20px;
    .roles-result-header-viewing-status,
    .roles-result-header-role-name {
      display: inline-block;
    }
    .roles-result-header-viewing-status {
      margin-left: 20px;
      color: @aui-color-mid;
    }
  }

  .roles-add-users-dialog-trigger {
    margin-right: 10px;
  }

  .roles-empty-roles-view {
    text-align: center;
    padding: 100px 0;
    .roles-empty-roles-meeples {
      width: 180px;
      height: 90px;
      background-image: url(empty-roles-meeples.png);
      margin: 0 auto;
    }
    .roles-empty-roles-text {
      margin: 10px 0 20px 0;
    }
  }

  .roles-search-no-matches {
    margin-top: 20px;
  }
}

#inline-dialog-roles-add-users-dialog {
  // Need to do this to lower the z-index of the add user & group dialog,
  // to let userhover dialog (when user hover a selected user) showing on top
  z-index: 100 !important;

  .roles-add-user-dialog-content {
    width: 250px;
  }
}
