@created-colour: #8EB021;
@resolved-colour: #D04437;
@grid-colour: #e9e9e9;
@marker-colour: #cdcdcd;
@marker-hover-colour: #a0a0a0;
@label-colour: #707070;
@scrubber-table-label-colour: #cdcdcd;


//TODO: THIS SHOULD NOT BE HERE, talk to someone about why they have a z-index and to get around it.
.gadget {
    z-index: auto; //For some reason this stop's inline dialogs within a gadget from showing up
}

//Default stylings for CreatedVsResolved. Can be overriden by callers.
.createdvsresolved-chart-wrapper {
    position: relative;

    .createdvsresolved-chart {
        width: 100%;

        box-sizing: border-box;
        display: block;


        .grid {
            line {
                stroke: @grid-colour;
            }
        }

        .yAxis,
        .xAxis {
            .tick {
                text {
                    fill: #707070;
                    stroke: none;
                    font-size: 12px;
                    font-weight: bold;

                }
            }
        }

        .marker-line,
        .horizontal-line,
        .nub-line {
            stroke: @marker-colour;
            stroke-width: 1px;

            &.line-highlighted {
                stroke: @marker-hover-colour;
            }
        }

        .marker-label {
            fill: @marker-colour;
            stoke: none;
        }

        .domain {
            fill: none;
        }

        .created {
            .line {
                stroke: @resolved-colour;
            }

            .area {
                fill: @resolved-colour;
                opacity: 0.4;
            }
        }

        .created-points {
            circle {
                fill: white;
                stroke: @resolved-colour;
                cursor: pointer;
            }
        }

        .resolved {
            .line {
                stroke: @created-colour;
            }
            .area {
                fill: @created-colour;
                opacity: 0.4;
            }
        }

        .resolved-points {
            circle {
                fill: white;
                stroke: @created-colour;
                cursor: pointer;
            }
        }

        .created-points,
        .resolved-points {
            circle:first-child {
                display: none;
            }
        }

        .following-marker .marker-line {
            stroke: rgba(0,0,0,0.2);
            stroke-width: 2;
        }

        .versions {

            .label {

                cursor: pointer;
                font-size: 12px;
                font-weight: bold;
                fill: @label-colour;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .createdvsresolved-point-inline-dialog {
        padding: 5px;

        .createdvsresolved-point-label {
            margin-right: 4px;
        }

        .createdvsresolved-point-inline-dialog-title {
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow:hidden;
            display: inline-block;
        }
    }

    .marker-following-mouse-dialog {
        .scrubber-dialog-table {
            tr {
                margin-bottom: 5px;

                .content-label {
                    color: @scrubber-table-label-colour;
                }
            }
        }
    }
}

.aui-inline-dialog.created-vs-resolved-inline-dialog {
    .contents {
        padding: 10px;
        overflow-y: auto;
    }

    ul.version-list {
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;

        li.version-information {
            padding: 5px;
            border-bottom: 1px solid #ccc;

            &:last-of-type {
                border-bottom: none;
            }

            .version-date {
                float: right;
                color: #707070;
            }
        }
    }
}



