@import "webstatic:/ui/imports/jira-colours-lookandfeel";

.two-d-container {

    table.aui {
        th, td {

            a {
                color: @jira-color-link;

                &:hover,
                &:focus,
                &:active {
                    color: @jira-color-active-link;
                }
            }
        }
    }
}
