@import "../../../global/css/jira-colours";

.usergroup-picker-container {
  .recipients {
    max-height: 218px; // 8 actors are visible, scroll to view more
    overflow-y: auto;
    img {
      // The recipient icon size is 22x22px in the implementation of JIRA.MultiUserListSelect
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
  }
  .usergroup-picker-group-icon {
    margin-right: 4px;
    text-align: center;
    vertical-align: middle;
    color: @aui-color-mid;
    &:before {
      vertical-align: middle;
    }
  }
  .icon.loading {
    bottom: auto;
    height: 30px;
  }
}