<tr>
    #if ($webhooks.empty)
        <td colspan="2">$i18n.getText("webhooks.postfunction.noneconfigured")</td>
        <script>
            AJS.$(function () {
                AJS.$('.aui-button').hide();
            });
        </script>
    #else
        <td class="fieldLabelArea">
            $i18n.getText("webhooks.postfunction.webhook.name")
        </td>
        <td nowrap>
            <select name="selectedWebhook" id="webhookId">
                #foreach ($webhook in ${webhooks})
                    #if($webhook.getId().isDefined())
                        <option value="$webhook.getId().get()"
                            #if ($webhook.id.equals($webhookId))
                                SELECTED
                            #end
                                >$textutils.htmlEncode($webhook.name)</option>

                    #end
                #end
            </select>
        </td>
    #end
</tr>
