#* @vtlvariable name="progressURL" type="java.lang.String" *#
#* @vtlvariable name="showEditWorkflowDiscover" type="boolean" *#
#* @vtlvariable name="learnMoreUrl" type="java.lang.String" *#
#enable_html_escaping()

#if($isAdmin && $progressURL)
<div class="aui-message info project-config-workflows-migration-progress">
    <p class="title">
        <span class="aui-icon icon-info"></span>
        <strong>$i18n.getText("admin.project.workflows.migration.progress.heading")</strong>
    </p>
    #if ($projectMigration)
        #set($msgHtml = $i18n.getText(
            "admin.project.workflows.migration.progress.project.message", "<a href='$req.contextPath$progressURL'>" ,
            "</a>"))
    #else
        #set($msgHtml = $i18n.getText(
            "admin.project.workflows.migration.progress.scheme.message", "<a href='$req.contextPath$progressURL'>" ,
            "</a>"))
    #end
    <p>$msgHtml</p>
</div>
#end

<div id="project-config-panel-container" class="project-config-panel-container">
    #if($isAdmin && !$progressURL)
        <div id="project-config-workflows-draft-message"
             class="aui-message warning project-config-workflows-draft-message#if(!$hasDraft) no-draft#end">
        ## the following is there so that the contents of this div is always vertically middle aligned
            <button class="aligner aui-button"></button>

        ## show in draft view
            <span class="show-in-draft-view">$i18n.getText("admin.project.workflows.unpublished.changes")</span>
            <div class="aui-buttons show-in-draft-view">
                <button id="project-config-workflows-publish-draft"
                        class="aui-button aui-button-primary#if($isShared && !$isDefault) disabled#end"#if($isShared && !$isDefault)
                        disabled title="$i18n.getText("admin.project.workflows.cannot.publish")"#end>$i18n.getText(
                    "common.words.publish")</button>
                <button id="project-config-workflows-discard-draft"
                        class="aui-button#if($isShared && !$isDefault) disabled#end"#if($isShared && !$isDefault)
                        disabled title="$i18n.getText("admin.project.workflows.cannot.discard")"#end>$i18n.getText(
                    "admin.workflows.actions.discard.draft")</button>
            </div>
            <a id="project-config-workflows-view-original" class="show-in-draft-view" href="#">$i18n.getText(
                "admin.project.workflows.view.original")</a>
        ## end show in draft view

        ## show in original view
            <span class="show-in-original-view">$i18n.getText(
                "admin.project.workflows.unpublished.changes.original")</span>
            <a id="project-config-workflows-view-draft" class="show-in-original-view" href="#">$i18n.getText(
                "admin.project.workflows.view.draft")</a>
        ## end show in original view
        </div>
    #end

## The content of this div is created at runtme in workflows-tab.js
#if($showEditWorkflowDiscover)
    $soyRenderer.render('com.atlassian.jira.jira-project-config-plugin:project-config-summary-edit-workflow-discover','JIRA.Templates.ProjectConfig.EditWorkflow.Discover.workflowInfo', {
        'learnMoreUrl': $learnMoreUrl
    })
#end

    <div id="project-config-panel-workflows"
         class="project-config-panel#if($isAdmin && $progressURL) project-config-workflow-migrating#end"></div>
    #if($isAdmin && $progressURL)
        <div class="project-config-transparent-blanket"></div>
    #end
</div>
