.dashboard-item-content {
  .loading {
    background:inlineimage("static/dashboarditem/login/images/loading.gif") center no-repeat;
  }

  .loading-small {
    background:inlineimage("static/dashboarditem/login/images/loading_100.gif") center no-repeat;
  }
}

#login-container {
  padding: 15px;
  #loginform {
    border: none;
  }
}
