@import "webstatic:/ui/global.less";

@icon-size: 55px;
@icon-padding-h: 15px;
@icon-padding-v: 15px;
@block-content-spacing-v: 15px;
@block-padding: 20px;
@color-success: color("#8eb021");
@color-warning: color("#f6c342");
@color-error: color("#d04437");

.zdu-icon-info {
  background-image: inlineimage('images/icons/svg/info.svg');
}
.zdu-icon-warning {
  background-image: inlineimage('images/icons/svg/warning.svg');
}
.zdu-icon-success {
  background-image: inlineimage('images/icons/svg/success.svg');
}
.zdu-icon-jira {
  background-image: inlineimage('images/icons/svg/jira.svg');
}

#pre-update-tasks-container {
  &.expanded {
    .zdu-icon-spacer {
      margin: 0 0 @icon-padding-v @icon-padding-h;
      height: @icon-size - (@block-padding - @icon-padding-v);
    }

    .zdu-block .zdu-action {
      margin-top: @block-content-spacing-v;
    }
  }

  .zdu-icon-spacer {
    float: right;
    width: @icon-size - (@block-padding - @icon-padding-h);
    height: @icon-size;
    margin: 0 0 0 @icon-padding-h;
  }

  .zdu-block {
    border: 1px solid @aui-border-color;
    border-left: 0;
    padding: @block-padding;

    &:first-child {
      border-left: 1px solid @aui-border-color;
    }

    &.zdu-icon {
      background-size: @icon-size;
      background-position: right @icon-padding-h top @icon-padding-v;
      background-repeat: no-repeat;
      height: @icon-size + (@icon-padding-v * 2);
    }

    .zdu-header {
      margin-top: 0;
      margin-right: @icon-size + (@icon-padding-h * 2) - @block-padding;
    }

    .zdu-content {
      margin-top: @block-content-spacing-v;
    }

    .zdu-action {
      margin-top: 8px;
    }

    #cluster-health-content {
      .healthcheck-container {
        &:first-child {
          margin-top: 0;
        }

        margin-top: @block-content-spacing-v;
      }

      .healthcheck-title {
        .aui-iconfont-approve {
          color: @color-success;
        }
        .aui-iconfont-warning {
          color: @color-warning;
        }
        .aui-iconfont-error {
          color: @color-error;
        }
      }
      .healthcheck-content {
        padding-left: 20px;
      }
    }
  }

  #toggle-content-button-container {
    margin-top: 5px;
  }
}

#update-controls-container {
  @blockPadding: 40px;

  #cluster-state-info-text {
    text-transform: none;
    font-weight: normal;
    color: @aui-color-text;
  }

  #start-update-container {
    padding-right: @blockPadding;
    border-right: 1px solid @aui-border-color;
  }

  #finish-update-container {
    padding-left: @blockPadding;
  }

  #warning-message-container {
    margin-top: 20px;
  }

  #info-button {
    .info-icon {
      color: @aui-color-link;
    }
  }
}

#info-inline-dialog {
  width: 350px;
}
