.favourite-filters-item {
    .counts {
        text-align: right;
        width: 1%;
    }
    padding-left: 15px;
    padding-right: 15px;

    table.aui > tbody > tr:first-child > td {
        border-top: none;
    }

    .config-options {
        padding: 10px 0;
    }

    .empty-container {
        padding-top: 15px;
        padding-bottom: 15px;

        p.empty-msg {
            padding-bottom: 1em;
        }
    }
}
