@import "../../../global/css/mixins/text-overflow";

.shared-issuetype-list {
    list-style: none;
    margin: 0;
    max-height: 15em;
    overflow-y: auto;
    padding: 0;
    > li {
        .text-overflow();
        padding: 2px;
    }
}