<li class="item new">
    <div class="wrap">
        <strong class="name">$i18n.getText("issue.field.priority"):</strong>
        <span id="priority-val" class="value">
            #set ($priority = $issue.getPriorityObject())
            #if ($priority)
                ${issueConstantWebComponent.getHtml($priority)} $textutils.htmlEncode($priority.nameTranslation, false)
            #end
        </span>
    </div>
</li>