.g-intro {
    padding:8px;

    h3 {
        margin:0;
    }

    .intro {
        margin-left:72px;
        position:relative;
        min-height:70px;

        .intro-logo {
            position:absolute;
            left:-72px;
            top:0;
            width:64px;
            height:64px;
        }

    }
}