@aui-border-color: #ccc;
@aui-color-focus: #3b73af;
@aui-color-selection-background: #ebf2f9;
@aui-color-mid: #707070;
@aui-color-highlight-primary: #f5f5f5;
@aui-color-text: #333;
@aui-color-red: #d04437;
@aui-color-white: #fff;
@aui-color-gray: #999;