@import "aui-colours";

@temp-subtle-text-color: @aui-color-mid;
@temp-details-divider-color: @aui-border-color;

#project-config-header {
  background: @aui-color-white;

  .aui-page-header-actions {

    #upm-notifications {
      display: none;
    }

    .aui-button > .aui-icon {
      margin-right: 4px;
    }
  }
}

.project-config-panel-header {
  margin: 0 0 16px 0;
  min-height: 48px;
  padding: 0 0 0 64px;

  > h2 {
    font-size: 22px;
    line-height: 26px;
    margin: 0 0 6px 0;
    .project-config-icon {
      margin-top: 5px;
    }
    .icon-default {
      margin-top: 5px;
    }
  }

  > h3 {
    font-size: 18px;
    line-height: 22px;
    margin: 6px 0 13px 0;
  }

  .project-config-scheme-usage {
    color: @temp-subtle-text-color;
  }
}
