/* Project Config Icons */
.project-config-icon {
  background: transparent url(images/icon16-sprite.png) no-repeat 0 0;
  display: inline-block;
  height: 16px;
  overflow: hidden;
  padding: 0;
  text-indent: -999em;
  vertical-align: text-bottom;
  width: 16px;
}

.project-config-icon-issuetype {
  background-image: none;

  &:-moz-broken {
    -moz-force-broken-image-icon: 1;
  }
}

.project-config-icon-version {
  background-position: 0 0;
}

.project-config-icon-version-archived {
  opacity: 0.5;
}

.project-config-icon-screens {
  background-position: 0 -144px;
}

/* Large Icons */
.project-config-icon48-components {
  background: transparent url(images/icon48-components.png) no-repeat 0 0;
}

.project-config-icon48-fields {
  background: transparent url(images/icon48-fields.png) no-repeat 0 0;
}

.project-config-icon48-issuetypes {
  background: transparent url(images/icon48-issuetypes.png) no-repeat 0 0;
}

.project-config-icon48-notifications {
  background: transparent url(images/icon48-notifications.png) no-repeat 0 0;
}

.project-config-icon48-people {
  background: transparent url(images/icon48-people.png) no-repeat 0 0;
}

.project-config-icon48-group {
  background: transparent url(images/icon48-group.png) no-repeat 0 0;
}

.project-config-icon48-permissions {
  background: transparent url(images/icon48-permissions.png) no-repeat 0 0;
}

.project-config-icon48-screens {
  background: transparent url(images/icon48-screens.png) no-repeat 0 0;
}

.project-config-icon48-settings {
  background: transparent url(images/icon48-settings.png) no-repeat 0 0;
}

.project-config-icon48-versions {
  background: transparent url(images/icon48-versions.png) no-repeat 0 0;
}

.project-config-icon48-workflows {
  background: transparent url(images/icon48-workflows.png) no-repeat 0 0;
}

.project-config-icon48-issue-collector {
  background: transparent url(images/icon48-issue-collector.png) no-repeat 0 0;
}

.project-config-icon48-viewport {
  background: transparent url(images/icon48-viewport.png) no-repeat 0 0;
}
