@import "aui-colours";
@import "mixins/break-word";
@import "mixins/clearfix";
@import "mixins/plainlist";

@temp-color-item-divider: @aui-border-color;
@temp-color-list-foreground: #000;
@temp-color-label-foreground: @aui-color-text;
@issuetype-tree-colour: #CCC;

.project-config-list {
  .plainlist();
  .break-word();
  margin-top: 10px;

  > li + li {
    margin-top: 5px; // inherits line-height from typography for an effective height of 25px
  }
}

// jiggery-pokery for JRADEV-17677 Project config lists when in the Project Roles Restful table.
.aui-restfultable {
  .project-config-list {
    margin-top: 0;

    > li {
      margin-right: 10px;
    }
    > li + li {
      margin-top: 0;
    }
    .project-config-list-label {
      background-repeat: no-repeat;
      background-size: 16px;
      padding-left: 20px;
      > .project-config-icon {
        margin: 0 6px 0 -20px;
      }
    }
  }
}

.project-config-itemlist {
  > li {
    position: relative;
    padding-left: 22px; // to cover the width of a 16px icon

    > .project-config-list-label {
      > img.project-config-icon-issuetype,
      > .aui-icon:first-child,
      > .project-config-icon:first-child {
        position: absolute;
        left: 0;
        margin-top: 2px; // for a 16px icon, this adjusts its effective "vertical align" to 'text-bottom'.
      }
    }
  }
}

@label-width: 140px; // TODO: 3 blocks in grid terms...
@temp-color-item-label-foreground: @aui-color-mid;

.project-config-datalist { // essentially a fake dl with class'd dt and dd equivalents
  > li {
    .clearfix();
    padding-left: @label-width + 10px;
    position: relative;

    > .project-config-list-label { // the fake dt
      color: @temp-color-item-label-foreground;
      float: left;
      font-weight: normal;
      margin-left: (0 - @label-width - 10);
      text-align: right;
      width: @label-width;
    }

    > .project-config-list-value { // the fake dd
      display: block;
    }
  }
}