@import "aui-colours";
@import "headers.less";
@import "icons.less";
@import "lozenges.less";
@import "lists.less";
@import "mixins/border-box";
@import "toolbar.less";

.project-config-webpanel-column-wrap {
  overflow: hidden;
}

.project-config-webpanel-column {
  .border-box();
  float: left;
  width: 50%;

  + .project-config-webpanel-column {
    padding-left: 50px;
  }
}

.project-config-icon-avatar {
  vertical-align: text-bottom;
  height: 16px;
  width: 16px;
}

.project-config-panel {
  .project-config-scheme-item {
    padding-left: 0;
  }
  .project-config-datatable {
    .hardwrap {
      word-break: break-all;
    }
    .nowrap {
      white-space: nowrap;
    }
    .project-config-icon {
      margin-right: 5px;
    }
    .icon-default {
      margin-right: 5px;
    }
  }
}

.project-config-scheme-item {
  clear: both;
  margin: 0 0 15px 0;
  .project-config-scheme-item-header {
    padding: 10px 15px;
    > .expander-icon {
      cursor: pointer;
      float: left;
      margin: 4px 0 0 -15px;
    }
    .ops {
      float: right;
      margin: 3px 0 0 0;
      li {
        margin: 0 0 0 8px;
      }
    }
    h3 {
      display: inline;
      > .project-config-scheme-item-name,
      .project-config-icon24-workflow,
      .project-config-icon24-screen,
      .project-config-icon24-field {
        cursor: pointer;
      }
    }
  }
  .project-config-split-panel {
    .border-box();
    @pad: 10px;
    border: 1px solid #e3e3e3;
    background-color: #fcfcfc;
    width: calc(~'100% + @{pad}');
    h3 {
      font-weight: normal;
    }
    > div {
      .border-box();
      display: table-cell;
      padding-top: @pad;
      padding-bottom: @pad;
      .project-config-datatable {
        border: 1px solid @aui-border-color;
      }
    }
    .project-config-split-panel-nav {
      min-width: 190px;
      width: 18%;
      padding-left: @pad;
      padding-right: 0px;
    }
    .project-config-split-panel-content {
      padding-left: 0px;
      padding-right: @pad;
    }
  }

  &.collapsed {
    .project-config-split-panel-nav {
      width: 100%;
      > h3 {
        display: none;
      }
      .project-config-list {
        display: inline;
        li {
          border: none;
          display: inline-block;
          margin: 0 0 5px;
          .project-config-list-label {
            padding-right: 24px;
            white-space: nowrap;
          }
        }
      }
    }
    .project-config-split-panel-content {
      display: none;
    }
  }
}

/* Make the warning message appear okay in the inline dialog */
#project-config-dialog-warning.aui-message {
  margin-bottom: 0;
  border-radius: 0;
}

.jira-user .aui-avatar {
  vertical-align: middle;
  &.aui-avatar-medium {
    margin-right: 10px;
    img {
      width: 32px;
      height: 32px;
    }
  }
  &.aui-avatar-small {
    margin-right: 5px;
    img {
      width: 24px;
      height: 24px;
    }
  }
  &.aui-avatar-xsmall {
    margin-right: 5px;
    img {
      width: 16px;
      height: 16px;
    }
  }
}

tr.project-config-issuetype > td.project-config-issuetype-name {
  min-width: 98px;
}

body form.version-delete {
  .info-message {
    overflow-wrap: break-word;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
  }

  .info-message + .group {
    margin-top: 10px;
  }

  div.radio {
    padding-left: 0;

    input.radio {
      height: auto;
      left: auto;
      position: relative;
      margin-right: 5px;
    }
  }

  legend + .radio {
    padding-top: 0;
  }
}
