@import "aui-colours";

@temp-color-operation-foreground: @aui-color-text;

@temp-color-operation-selected-background: @aui-color-focus;
@temp-color-operation-selected-foreground: #fff;

.aui-toolbar {
  .operation-menu li a {
    color: @temp-color-operation-foreground;
    text-decoration: none;

    &:hover,
    &.active {
      background-color: @temp-color-operation-selected-background;
      color: @temp-color-operation-selected-foreground;
    }
  }
}

#project-config-header > .aui-toolbar,
.project-config-panel-header > .aui-toolbar {
  float: right;
  width: auto;
  padding-top: 0;
}
