@import "../../../global/css/aui-colours";

@adg-color-orange: #f79232;

.workflow-edit-discover {
    border-bottom: 1px solid @adg-color-orange;
    margin-bottom: 25px;
    padding-bottom: 45px;
    padding-top: 25px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .discover-left {
        flex-grow: 1;
    }

    .discover-content {
        flex-grow: 1;

        width: 600px;
        display: flex;

        .discover-graphics {
            min-width: 120px;

            img {
                margin-top: 5px;
                margin-right: 20px;
                width: 100px;
                height: 94px;
            }
        }
    }

    .discover-close {
        flex-grow: 1;
        text-align: right;
        color: @aui-color-mid;
    }
}
