.onboarding-sequence-avatar-picker {
    h2 {
        word-wrap: break-word;
    }

    form.aui {

        .avatar-picker-section {
            margin-top: 5em;
            margin-bottom: 5em;
            margin-left: 2em;

            .selected-avatar-image {
                vertical-align: middle;
                margin-right: 20px;
                width: 48px;
                height: 48px;
            }

            .choose-avatar-button {
                vertical-align: middle;
            }
        }

        .buttons-container.right {
            text-align: right;
        }
    }
}