@import "webstatic:/ui/global.less";

@border-color: orange;
@border-width: 2px;
@dialog-width: 300px;
@dialog-padding: 15px;
@dialog-progress-height: 30px;
@issue-header-image-padding: 10px;
@label-width: 100px;
@avatar-large-size: 48px;
@avatar-small-size: 24px;
@content-padding: 20px;
@workflow-width: 252px;
@workflow-height: 382px;
@workflow-border: 1px;

.onboarding-nutshell {
    .content-panel {
        background: @aui-color-faint;
        .bordered();
        .border-radius(3px);
        padding: @content-padding;
        height: @workflow-height + 2 * @content-padding + 2 * @workflow-border + 10px; // extra allowance due to display: table-cell
        position: relative;
        
        .project-list {
            tr {
                background: none;
            }
            
            tr:first-child td {
                border-top: none;
            }
            
            td[data-cell-type="name"] {
                vertical-align: middle;
            }
        }

        .jira-project-avatar-icon {
            box-sizing: border-box;
            background-color: @aui-color-faint;
            border-radius: 11px;
            padding: 2px;
            height: 22px;
            width: 22px;
            position: absolute;
            top: 32px;
            left: -5px;
        }
        .jira-project-avatar {
            position: relative;
            display: inline-block;
        }

        .issue {
            padding: 10px;
            
            .issue-content {
                margin-left: @avatar-large-size;
            
                .property-list {
                    padding: 0 @issue-header-image-padding;
                    
                    .wrap {
                        padding-left: @label-width;
                    }
                    
                    .item {
                        .name {
                            margin-left: -@label-width;
                            width: @label-width;
                            text-align: left;
                            line-height: @avatar-small-size;
                        }
                        
                        .value {
                            line-height: @avatar-small-size;
                        }
                    }
                    
                    .assignee-name {
                        vertical-align: top;
                        margin-left: 5px;
                    }
                }
                
                .opsbar {
                    margin-bottom: 10px;
                    position: relative;
                }
            }            
        }
        
        .workflow {
            width: @workflow-width;
            padding: 0;
            position: relative;

            .workflow-trigger {
                left: 0;
                position: absolute;
                top: 0;
                width: @workflow-width;
            }
            
            svg {
                background: #fff;
                width: @workflow-width;
                height: @workflow-height;
                border: @workflow-border solid @aui-border-color;
            }
        }

        .issue-trigger,
        .project-list-trigger {
            display: inline-block;
            width: @dialog-width;
            height: 0;
            padding: 0 @dialog-padding;
        }
        .project-list-trigger {
            width: @dialog-width / 30;
        }
        .issue-trigger {
            position: relative;
            top: -30px;
        }
        .opsbar-trigger {
            left: 0;
            position: absolute;
            right: 25px;
            top: 15px;
        }
        .value.status-trigger {
            display: inline-block;
        }
    }
}

.onboarding-nutshell-header {
    position: relative;
}

// needs to be more specific than .aui-button.aui-button-link
.onboarding-nutshell-skip.aui-button.aui-button-link {
    position: absolute;
    padding: 0;
    right: 0;
    height: @jira-h2-computed-height;
    line-height: @jira-h2-computed-height;
    top: 0;
}

#inline-dialog-nutshellDialog .aui-inline-dialog-contents {
    width: @dialog-width;
    padding: @dialog-padding;

    > p {
      margin-bottom: @dialog-padding;
    }

    > span {
      color: @aui-color-mid;
      display: inline-block;
      float: right;
      line-height: @dialog-progress-height;
    }
}
