// Dynamic, per-tenant colours
// See look-and-feel.less for the static page styles
@import "dynamic:lookandfeel.less";

.jira-logo-preview-container {
    background-color: @topBackgroundColour;
    border-bottom-color: @topSeparatorBackgroundColor;
}
