@created-colour: #D04437;
@resolved-colour: #8EB021;
@unresolved-trend-colour: #3572b0;

.createdvsresolved-gadget {
    padding: 20px;
}

.createdvsresolved-chart-wrapper {
    height: 100%;
}

.createdvsresolved-chart-info {
    font-size: 14px;

    .createdvsresolved-chart-details-header {
        margin-bottom: 5px;

        .createdvsresolved-chart-details-title {
            font-weight: bold;
            display: inline-block;
        }

        .createdvsresolved-chart-details-grouping {
            display: inline-block;
            margin-left: 5px;
            text-transform: lowercase;
        }

        .createdvsresolved-chart-details-link {
            margin-left: 5px;
        }
    }

    .createdvsresolved-chart-details-totals {

        .created-totals {
            margin-bottom: 8px;
        }
        .created-point {
            vertical-align: middle;
            margin-right: 10px;

            circle {
                stroke-width: 2.5;
                stroke: @created-colour;
                fill: white;
            }
        }

        .resolved-point {
            vertical-align: middle;
            margin-right: 10px;
            circle {
                stroke-width: 2.5;
                stroke: @resolved-colour;
                fill: white;
            }
        }
    }
}
.createdvsresolved-chart-container, .unresolvedtrend-chart-container {
    margin-bottom: 20px;    //Adjust createdVsResolvedChartHeight calculation in CreatedVsResolved.js if this changes
}

.unresolvedtrend-chart {
    width: 100%;
    box-sizing: border-box;
    display: block;

    .domain {
        fill: none;
    }

    path.unresolved-trend {
        stroke: @unresolved-trend-colour;
        stroke-width: 3;
    }
}

.marker-following-mouse-dialog.aui-inline-dialog {
    opacity: 0.9; //TODO: Other browsers

    .contents {
        background-color: #333;
        color: #fff;
        padding: 10px;

        .scrubber-dialog-heading {
            margin-bottom: 5px;

            .aui-iconfont-calendar {
                margin-right: 5px;
            }
        }
    }

    .aui-inline-dialog-arrow.aui-css-arrow.aui-bottom-arrow:after,
    .arrow.aui-css-arrow.aui-bottom-arrow:after,
    .aui-inline-dialog-arrow.aui-css-arrow.aui-bottom-arrow:before,
    .arrow.aui-css-arrow.aui-bottom-arrow:before {
        border-color: #333 transparent;
    }
}