.dashboard-item-preferences-config {

  form.aui {

    table.column-picker-order {
      width: 100%;
      max-width: 250px;

      .aui-restfultable-status {
        display: none;
      }
      .aui-restfultable-operations {
        width: 1%;
      }
    }
  }

  .field-group.fields-to-display-table {
    form {
      margin-top: 0px;
    }

    td {
      vertical-align: baseline;
    }
  }
}
