.search-results-dashboard-item {
  .search-results-dashboard-item-issue-table {
    overflow-x: auto;

    &.loading {
      opacity: 0.5;
    }

    > table {
      margin: 0;
      word-wrap: break-word;
    }
  }

  .issue-table {
    .issue_actions a.aui-dd-link.icon-tools-small.loading {
      background-position: 4px;
    }
    .summary > p,
    .description > p {
      min-width: inherit;
      max-width: none;
    }
    > thead > tr > th:first-child,
    > tbody > tr > th:first-child,
    > tbody > tr > td:first-child {
      border-left: none;
    }
  }

  .count-pagination {
    margin: 0;
    padding: 5px 7px;
    .pagination {
      > a,
      > strong,
      > span {
        line-height: 1.42857142857143;
        margin: 0;
        padding: 0 5px;
        vertical-align: baseline;
      }
      > a:last-child {
        padding-right: 0;
      }
    }
  }

  &.empty-results {
    padding: 10px;
  }
}
