.project-config-issuesecurity-description {
  word-break: break-all;
}

.project-config-issuesecurity-identity {
  word-break: break-all;
}

#project-config-issuesecurities-table th#project-config-issuesecurities-table-roles {
  width: 240px;
}