#project-config-page-not-found {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 20px;
  display: block;
  margin: 0 auto 50px;
  width: 500px;
}

#page-not-found-go-back {
  margin-top: 15px;
}