#* @vtlvariable name="workflowUrl" type="java.lang.String" *#
#* @vtlvariable name="issue" type="com.atlassian.jira.issue.Issue" *#
#enable_html_escaping()
#* @vtlvariable name="summaryComponent" type="com.atlassian.jira.plugin.viewissue.DetailsBlockContextProvider" *#
#* @vtlvariable name="tabs" type="java.util.List<com.atlassian.jira.plugin.viewissue.web.SimpleTab>" *#


#parse("/viewissue/fields/fieldMacros.vm")

<ul id="issuedetails" class="property-list two-cols">
    #systemField("issuetype")
    #systemField("status")

    #if ($fieldVisibility.isFieldHidden($issue.project.getLong('id'), 'priority', $issue.issueTypeObject.id) == false && $issue.priority)
        #systemField("priority")
    #end
    #if ($fieldVisibility.isFieldHidden($issue.project.getLong('id'), 'resolution', $issue.issueTypeObject.id) == false)
        #systemField("resolution")
    #end
    #if ($projectHasVersions && $fieldVisibility.isFieldHidden('versions', $issue) == false)
        #systemField("versions")
    #end
    #if ($projectHasVersions && $fieldVisibility.isFieldHidden('fixVersions', $issue) == false)
        #systemField("fixVersions")
    #end
    #if ($projectHasComponents && $fieldVisibility.isFieldHidden('components', $issue) == false)
        #systemField("components")
    #end
    #if ($fieldVisibility.isFieldHidden('security', $issue) == false && $issue.securityLevel)
        #systemField("security")
    #end
    #if ($fieldVisibility.isFieldHidden('labels', $issue) == false)
        #systemField("labels")
    #end
    #if ($fieldVisibility.isFieldHidden('environment', $issue) == false && $renderedEnvironmentHtml)
        #systemField("environment")
    #end
</ul>

#if (!${tabs.empty})
<div id="customfieldmodule">
    <div class="aui-tabs horizontal-tabs" id="customfield-tabs">
        #if (${tabs.size()} > 1)
## Show tab headings
            <ul class="tabs-menu">
                #foreach (${tab} in ${tabs})
                <li class="menu-item#if(${velocityCount} == 1) active-tab#end">
                    <a href="#customfield-panel-${velocityCount}"><strong>${tab.name}</strong></a>
                </li>
                #end
            </ul>
        #end
## Show the actual tabs with their fields
    #foreach (${tab} in ${tabs})
        <div id="customfield-panel-${velocityCount}" class="tabs-pane#if(${velocityCount} == 1) active-pane#end">
            ## Show tab's fields
            <ul class="property-list">
            #foreach(${field} in ${tab.fields})
                #if (${field.hasView()} && ${field.hasValue()})
                    #customField($field)
                #end
            #end
            </ul>
        </div>
    #end
    </div>## aui-tabs
</div>
#end
