#project-issuetypes-actions,
#project-issuetypes-perspectives {
    display: inline-block;
}

#project-issuetypes-perspectives {
    margin-left: 20px;
}

.lozenges-wrapper::after {
    content: '';
    display: block;
    clear: both;
}

#project-issuetypes-shared-by,
#workflow-read-only {
    float: left;
}
