@selected-circle-border-color: #3572b0;
@chart-axis-label-color: #707070;
@chart-axis-font-size: 12px;
@chart-grid-color: #e9e9e9;
@chart-max-circle-radius: 12px;

.bubble-chart-component-tooltip {
    display: none !important; // !important because we need to override the inline styles applied by AUI/tipsy
}

.bubble-chart-component-wrapper {
    .bubble-chart-component-plot {
        .grid {
            line {
                stroke: @chart-grid-color;
            }
        }

        .graph-border {
            fill: none;
            stroke: @chart-grid-color;
            stroke-width: 1px;
        }

        .yAxis,
        .xAxis {
            text {
                fill: @chart-axis-label-color;
                stroke: none;
                font-size: @chart-axis-font-size;
                font-weight: bold;
                text-transform: uppercase;
            }

            .tick {
                line {
                    stroke: @chart-grid-color;
                }

                line.value-tick {
                    stroke-width: 3px;
                }
            }
        }

        .domain {
            fill: none;
        }

        circle {
            fill-opacity: 0.75;
            stroke: white;
            stroke-width: 3px;

            &:hover {
                cursor: pointer;
            }

            &.selected {
                fill-opacity: 1.0;
                stroke: @selected-circle-border-color;
                stroke-width: 1px;
            }

            &.backing {
                stroke-width: 2px;
                stroke: @selected-circle-border-color;
                fill: white;
            }

            &.hovered {
                fill-opacity: 1.0;
            }
        }
    }
}

.bubble-chart-inline-dialog-container {
    table {
        width: 100%;
    }

    button {
        margin-left: 10px;
    }

    .chartHeader td {
        color: @chart-axis-label-color;
        border-right: solid 20px white;
        border-bottom: solid 10px white;
        width: 80px;
        text-align: center;

        &:last-child {
            border-right: none;
        }
    }

    h4 {
        padding-bottom: 10px;
    }

    .chartInfo td {
        border-right: solid 20px white;
        text-align: center;

        &:last-child {
            border-right: none;
        }

        .d4-is-top {
            position: relative;
            top: 0;
            display: inline-block;
        }

        .hot-icon {
            display: inline-block;
            background-image: inlineimage('images/bubble-chart-hot-icon.svg');
            position: relative;
            top: 2px;
            height: 14px;
            width: 14px;
        }
    }
}
