tr.project-config-no-entires {
  font-style: italic;
}

#project-config-operations-merge {
  &.visible {
    display: block !important;
  }
}

#project-config-versions-table {
  thead th {
    white-space: nowrap;
  }
  tbody td {
    &.project-config-version-start-date,
    &.project-config-version-release-date {
      min-width: 150px;

      .project-config-date-field {
        @iconWidth: 16px;
        @padding: 5px;
        white-space: nowrap;
        padding-right: @iconWidth + @padding;

        input {
          max-width: 150px;

          & + a {
            margin-left: @padding;
            width: @iconWidth;
          }
        }
      }
    }

    &.project-config-release-status {
      padding-right: 0;
      width: 16px;
    }

    &.project-config-release-status {
      .project-config-icon {
        margin-top: 7px;
      }

      .aui-icon {
        padding: 3px 0 2px 0;
      }
    }

  }
}

/* Entry */
.project-config-version {
  &.project-config-version-archived .aui-restfultable-editable {
    opacity: 0.5;
  }
  &.project-config-version-overdue .project-config-version-release-date {
    color: #CC0000;
  }
  td:hover .aui-restfultable-editable {
    opacity: 1;
  }

  /* Operations */
  .aui-restfultable-operations {
    height: 26px;
    .project-config-operations-list {
      display: none;
    }
    .project-config-operations-trigger {
      display: none;
    }
  }
}

.aui-restfultable-allowhover tr:hover,
.project-config-version.aui-restfultable-active {
  .aui-restfultable-operations {
    .project-config-operations-trigger {
      display: inline-block;
    }
  }
}

.project-config-versions-footer {
  padding: 20px;
  text-align: center;
}