.quicklinks-dashboard-item {
    padding: 8px;
    text-align: center;

    ul.quicklinks-links-list {
        text-align: left;
        vertical-align: top;
        margin: 0 30px 8px 0px;
        padding-left: 0px;
        float: left;

        li {
            list-style-type: none;
            text-align: left;
        }
    }
}
