#workflow-info {
    .aui-message {
        margin-top: 20px;

        &.info {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .workflow-info__msg-with-actions {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        display: flex;

        > p {
            margin-right: 10px;
            display: inline-block;
            flex: 1 1 auto;
            align-self: center;
            text-align: justify;
        }

        > div {
            flex: 0 0 auto;
            align-self: center;
        }
    }
}