@import "webstatic:/ui/imports/aui-colours";
@import "webstatic:/ui/imports/jira-colours";

#confluence-page-search-form fieldset label {
    margin-right: 20px;
}

#confluence-page-search-dialog {
    fieldset {
        padding-left: 6px;
        padding-bottom: 0;
    }

    .aui-group {
        min-height: 450px;
        overflow: auto;
        display: block;
        padding: 10px;
    }

    .issue-link-oauth-toggle {
        border-top: 1px solid @aui-border-color;
        padding-top: 5px;
        margin-top: 10px;
        padding-bottom: 16px;
    }

    #search-results-table {
        height: 345px;
        overflow-x: hidden;
        overflow-y: hidden;
        table-layout: fixed;

        th {
            color: #666;
        }

        .excerpt,
        .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .excerpt {
            max-width: 550px;
        }

        .title {
            padding-right: 20px;
            min-width: 180px;
            max-width: 180px;
            color: @jira-color-link;
        }

        tbody tr:hover {
            background-color: #F0F0F0;
            cursor: pointer;
        }

        tbody td {
            padding-left: 6px;
        }

        .aui-message {
            margin-top: 10px;
        }
    }
}
