@import "webstatic:/ui/global.less";

@box-width: 360px;

.next-steps-bg {
  background-color: @aui-color-page;
}

.next-steps {
  background: #FFF;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  overflow: hidden;

  .next-steps--header {
    color: @jira-color-subtle-text;
    text-align: center;
  }

  .next-steps--steps {
    margin-top: 20px;

    >div {
      .table();
      border-spacing: 20px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .next-steps--step {
    width: @box-width;
    .cell();
    .border();

    >div {
      .table();
    }
  }

  .next-steps--step-icon {
    .cell();

    img {
      width: 80px;
      height: 80px;
    }
  }

  .next-steps--step-content {
    .cell();

    >div {
      .table();
      margin-left: 10px;
    }
  }

  .next-steps--step-description {
    .row();

    >div {
      .cell();
    }
  }

  .next-steps--step-action {
    .row();

    >div {
      .cell();
      vertical-align: bottom;

      button {
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }
  }
}

.table() {
  display: table;
  table-layout: fixed;
  height: 100%;
  border-spacing: 0px;
}

.row {
  display: table-row;
}

.cell() {
  display: table-cell;
  vertical-align: top;
  text-align: left;
}

.border() {
  border-radius: 6px;
  border: 1px solid @bordercolour;
  padding: 15px;
}


