@import "../imports/mixins/aui/dropdowns.lf.less";
@import "../imports/jira-colours-lookandfeel";

h1, h2, h3, h4 {
    color: @jira-color-headings;
}

a {
    color: @jira-color-link;

    &:hover,
    &:focus,
    &:active {
        color: @jira-color-active-link;
    }
}

.aui-button {

    &.aui-button-link {
        color: @jira-color-link;

        &:visited {
            color: @jira-color-link;
        }
        &:hover,
        &:focus,
        &:active {
            color: @jira-color-active-link;
        }
    }
}

// AUI Dropdown 1
.aui-dropdown,
.aui-dd-parent .aui-dropdown {
    li.dropdown-item.active a.item-link,
    a.item-link {

        &:hover,
        &:focus,
        &:active {
            background-color: @jira-dropdown-menuitem-background-focus-color;
            color: @jira-dropdown-menuitem-text-focus-color;
        }
    }
}

// AUI Dropdown2
.aui-dropdown2.aui-style-default {
    strong {
        color: @jira-dropdown-heading-color;
    }
    &:hover {
        .aui-dropdown2-checkbox:not(.aui-dropdown2-disabled):hover,
        .aui-dropdown2-radio:not(.aui-dropdown2-disabled):hover,
        a:not(.aui-dropdown2-disabled):hover {
            .dropdown-item-style(focus);
        }
    }
    .active,
    .aui-dropdown2-active {
        .dropdown-item-style(focus);
    }
}

// JIRA Dropdowns
.aui-list {

    a.active,
    .aui-list-item.active > a {
        color: @jira-dropdown-menuitem-text-focus-color;
    }
}

// AUI Vertical & Horizontal Nav
.aui-navgroup-horizontal .aui-nav > li a,
.aui-navgroup-vertical .aui-nav > li > a,
.aui-nav-vertical > li > a {
    color: @jira-pagenav-menuitem-text-color;

    &:focus,
    &:hover {
        color: @jira-pagenav-menuitem-text-focus-color;
    }
}

.aui-navgroup-horizontal .aui-nav > li a:active,
.aui-navgroup-vertical .aui-nav > li > a:active,
.aui-nav-vertical > li > a:active {
    background-color: @jira-pagenav-menuitem-background-active-color;
    color: @jira-pagenav-menuitem-text-active-color;
}

.aui-navgroup-horizontal .aui-nav > .aui-nav-selected a,
.aui-navgroup-vertical .aui-nav .aui-nav-selected a,
.aui-nav-vertical .aui-nav .aui-nav-selected a {

    &:active {
        background-color: @jira-pagenav-menuitem-background-active-color;
        color: @jira-pagenav-menuitem-text-active-color;
    }
}

// AUI Sidebar -- Vertical & Horizontal Nav
.aui-sidebar[aria-expanded=false] .aui-navgroup-vertical .aui-nav .aui-nav-child-selected a,
.aui-sidebar-submenu[aria-expanded=false] .aui-navgroup-vertical .aui-nav .aui-nav-child-selected a,
.aui-sidebar .aui-navgroup-vertical .aui-nav .aui-nav-selected a,
.aui-sidebar-submenu .aui-navgroup-vertical .aui-nav .aui-nav-selected a {
    color: @jira-pagenav-menuitem-text-focus-color;

    &:active {
        color: @jira-pagenav-menuitem-text-active-color;
    }
}

// AUI Dialogs
.aui-dialog .dialog-page-menu li.page-menu-item button.item-button {
    color: @jira-pagenav-menuitem-text-color;
}

.aui-dialog .dialog-page-menu li.page-menu-item button.item-button:hover,
.aui-dialog .dialog-page-menu li.page-menu-item button.item-button:focus {
    color: @jira-pagenav-menuitem-text-focus-color;
}
.aui-dialog .dialog-page-menu li.page-menu-item button.item-button:active,
.aui-dialog .dialog-page-menu li.page-menu-item.selected button.item-button:active {
    background-color: @jira-pagenav-menuitem-background-active-color;
    color: @jira-pagenav-menuitem-text-active-color;
}

.aui-dialog .dialog-button-panel a.button-panel-link {
    color: @jira-color-link;

    &:hover,
    &:focus {
        color: @jira-color-active-link;
    }
}
