// Copied from AUI's header quicksearch
.jira-field-search () {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAb0lEQVR42p2RMQ7AIAhFWXsG1h7Gtffo6urqyJGpwyetomnwJ38BH/wgfZSaS7PABbVOqkqm3Fzx6IQTatlDb5PJi21YBy1iuNgjJIgzFXqyCcXj1Z1DXNGTiw01aP252DCCgH7Fk41h8KaAGMDxADnaOPucd/m3AAAAAElFTkSuQmCC) no-repeat 7px 8px;
  border: 1px solid #CCC;
  border-radius: 5em;
  box-shadow: inset 0 1px 3px #ccc;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  font-family: inherit;
  font-size: inherit;
  height: 2.1428571428571em; // effectively 30px
  line-height: 1.4285714285714;
  padding: 4px 10px 4px 25px;
  vertical-align: baseline;
  width: 220px;

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: #707070;
  }

  &:-moz-placeholder {
    color: #707070;
  }
}