.onboarding-sequence-create-issues {

    form.aui {
        .buttons-container.right {
            margin-top: 50px;
            text-align: right;
        }
    }

    .issue-table {
        margin-top: 30px;
    }

    .issue-table > thead > tr > th,
    .issue-table > thead > tr > td,
    .issue-table > tbody > tr > th,
    .issue-table > tbody > tr > td,
    .issue-table > tfoot > tr > td {
        border-bottom-color: transparent;
        vertical-align: middle;
    }

    .iic-widget {
        @selector-width: 45px;
        position: relative;

        .iic-widget__issue-type-selector-container {
            width: @selector-width;
            // The IIC's CSS doesn't make the widget position: relative,
            // which is why they need odd paddings and positions.
            position: absolute;
            top: 5px;
            bottom: 5px;
            left: 5px;

            > .iic-widget__issue-type-selector {
                width: @selector-width;
            }
        }
        .iic-widget__issue-type-selector-container + div {
            margin-left: @selector-width;
        }

        .iic-widget__issue-type-selector__trigger {
            &:focus,
            &:active,
            &:hover {
                background: transparent;
                box-shadow: none;
                cursor: default;
            }
            &:after {
                display: none;
            }
        }

        .iic-widget__more {
            display: none;
        }
    }

    .msie-9 & {
        .iic-widget .iic-widget__issue-type-selector-container + div {
            margin-left: 0;
        }
    }
}
