
@dialog-border-color: #f79232;
@border-width: 2px;

.onboarding-sequence-create-project {
    form.aui {
        margin-top: 50px;

        .help-lnk {
            margin-left: 10px;
        }

        .submit-spinner {
            margin-right: 10px;
            display: none;
            vertical-align: middle;

            &.show {
                display: inline-block;
            }
        }

        #skip {
            margin-left: 10px;
        }

        .buttons-container.right {
            margin-top: 50px;
            text-align: right;
        }
    }

    .form-errors {
        .aui-message {
            margin-top: 20px;
        }
    }
}

#inline-dialog-project-key-help-popup {
    .contents {
        border-color: @dialog-border-color;
    }

    .arrow::before {
        border-color: @dialog-border-color transparent;
    }

    .arrow::after {
        top: @border-width;
    }
}