@grid-colour: #e9e9e9;
@marker-colour: #cdcdcd;
@scrubber-table-label-colour: #cdcdcd;

.unresolvedtrend-chart-wrapper {
    position: relative;

    .marker-following-mouse-dialog {
        .scrubber-dialog-table {
            tr {
                margin-bottom: 5px;

                .content-label {
                    color: @scrubber-table-label-colour;
                }
            }
        }
    }
}

.unresolvedtrend-chart {
    width: 100%;

    box-sizing: border-box;
    display: block;

    .grid {
        line {
            stroke: @grid-colour;
        }
    }

    .yAxis,
    .xAxis {
        .tick {
            text {
                fill: #707070;
                stroke: none;
                font-size: 12px;
                font-weight: bold;
            }
        }
    }

    .following-marker .marker-line{
        stroke: rgba(0,0,0,0.2);
        stroke-width: 2;
    }


    .marker-line {
        stroke: @marker-colour;
        stroke-width: 1px;
    }
}