#* @vtlmacrolibrary path="../../../../../../../jira-core/src/main/resources/templates/plugins/jira/issuelinks/macros.vm" *#
#* @vtlvariable name="noApplinkAuthConfigured" type="java.lang.Boolean" *#
#* @vtlvariable name="applicationUrl" type="java.net.URI" *#
#* @vtlvariable name="appLinkId" type="com.atlassian.applinks.api.ApplicationId" *#
#* @vtlvariable name="id" type="java.lang.Long" *#
#* @vtlvariable name="title" type="java.lang.String" *#
#* @vtlvariable name="url" type="java.lang.String" *#
#* @vtlvariable name="tooltip" type="java.lang.String" *#
#* @vtlvariable name="iconTooltip" type="java.lang.String" *#
#* @vtlvariable name="iconUrl" type="java.lang.String" *#
#* @vtlvariable name="authenticationRequired" type="java.lang.Boolean" *#
#* @vtlvariable name="permissionDenied" type="java.lang.Boolean" *#
#* @vtlvariable name="authenticationUrl" type="java.lang.String" *#
#* @vtlvariable name="applicationName" type="java.lang.String" *#
#* @vtlvariable name="i18n" type="com.atlassian.jira.action.JiraActionSupport" *#
#* @vtlvariable name="textutils" type="com.opensymphony.util.TextUtils" *#

#if ($noApplinkAuthConfigured)
<p>
    #renderIssueLinkIcon(${iconUrl} ${iconTooltip} ${iconTooltip} ${textutils})
    <span title="${textutils.htmlEncode($tooltip)}">
        <a href="${url}" class="link-title">${textutils.htmlEncode($title)}</a>
    </span>
    <span class="link-loading-failed">${i18n.getText("common.concepts.loading.failed")}</span>
</p>
#elseif ($authenticationRequired)
<p>
    #renderIssueLinkIcon(${iconUrl} ${iconTooltip} ${iconTooltip} ${textutils})
    <span title="${textutils.htmlEncode($tooltip)}">
        <a href="${url}" class="link-title">${textutils.htmlEncode($title)}</a>
    </span>
    <span class="link-login"></span>
</p>
<script type="text/javascript">
    require(['wrm/require', 'jquery'], function(wrmRequire, $) {
        wrmRequire(['wr!com.atlassian.applinks.applinks-plugin:applinks-public'], function() {
            $('#remote-' + ${id} + " .link-login").append(ApplinksUtils.createAuthRequestInline(null, {id: '${appLinkId}', appName: '${applicationName}', appUri: '${applicationUrl}', authUri: '${authenticationUrl}'}))
        });
    });
</script>
#elseif ($permissionDenied)
<p>
    #renderIssueLinkIcon(${iconUrl} ${iconTooltip} ${iconTooltip} ${textutils})
    <span title="${textutils.htmlEncode($tooltip)}">
        <a href="${url}" class="link-title">${textutils.htmlEncode($title)}</a>
    </span>
    <span class="link-loading-failed">${i18n.getText("addconfluencelink.render.forbidden")}</span>
</p>
#else
<p>
    #renderIssueLinkIcon(${iconUrl} ${iconTooltip} ${iconTooltip} ${textutils})
    <span title="${textutils.htmlEncode($tooltip)}">
        <a href="${url}" class="link-title">${textutils.htmlEncode($title)}</a>
    </span>
</p>
#end