@import "webstatic:/ui/imports/jira-colours-lookandfeel";

.nav-item-style() {
    color: @jira-pagenav-menuitem-text-color;
}

.nav-item-focus-style() { // .aui-nav-vertical > li > a:focus
    color: @jira-pagenav-menuitem-text-focus-color;
}

.nav-item-active-style() { // .aui-nav-vertical > li > a:active
    background: @jira-pagenav-menuitem-background-active-color;
    color: @jira-pagenav-menuitem-text-active-color;
}

.standardAnchorStyles() {
    .nav-item-style();
    &:focus,
    &:hover {
        .nav-item-focus-style();
    }
    &:active {
        .nav-item-active-style();
    }
}

ul.project-issuetypes {
    > li {
        > a {
            .standardAnchorStyles();
        }
    }
}

#project-issuetypes-expand-container {
    > #project-issuetypes-expand {
        .standardAnchorStyles();
    }
}
