.text-dashboard-item-container {
    padding: 8px;

    iframe {
        border: none;
        width: 100%;
        height: 100%;
    }
}

.text-dashboard-item-config-container {
    textarea[name=html] {
        width: 90%;
        max-width: 600px;
        min-height: 400px;
        // Disallow resizing so the user doesn't accidentally resize the textarea
        // and push the submit buttons outside the config view.
        // textareas don't have a reliable cross-browser 'onResize'-type event,
        // so we can't accurately resize the config view when the textarea
        // does get resized.
        resize: none;
    }
}
