
.piechart-graph {
    .piechart-arc {
        .piechart-center-primary,
        .piechart-center-secondary {

            display: none;
        }


        &.piechart-arc-highlighted {
            .piechart-center-primary,
            .piechart-center-secondary {
                display: block;
            }
        }
    }
}