@import "mixins/jira-field-search";
@import "../../global/css/jira-colours";
@import "../../global/css/mixins/border-radius";
@import "../../global/css/mixins/clearfix";
@import "../../global/css/mixins/plainlist";

/**
* The entire "Add Custom Field" wizard dialog.
*/
.jira-customfields-wizard {
  .dialog-title {
    .clearfix();

    overflow: hidden;
    text-overflow: auto;
    white-space: normal;
  }

  .jira-dialog-title-main {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    .jira-dialog-title-text {
      display: inline;
    }
  }

  .jira-dialog-title-actions {
    float: right;
    text-align: right;
    white-space: nowrap;

    .search > input {
      .jira-field-search();
    }
  }

  // Secondary buttons are left-aligned in the bottom button panel.
  .dialog-button-panel {
    > .secondary {
      float: left;

      &:first-child {
        margin-left: 10px;
      }
    }

    > .aui-button {
      margin-left: 0px;
      margin-right: 10px;
    }

    > a > .icon {
      margin-right: 3px;
    }
  }

  .dialog-spinner {
    margin-right: 7px;
  }

  .dialog-panel-body {
    // Fixes JDEV-24015, jQuery bug that requires IE9 {overflow: auto} elements to have {position: relative}
    // if you want ui.sortable to work correctly.
    position: relative;
  }

  .jira-dialog-notification .aui-message {
    .border-radius(0);

    border: none;
    border-bottom: 1px solid #ffeaae;
  }
}

/**
* List of custom field types in the "Add Custom Field" wizard dialog.
*/
.customfields-types {
  list-style: none;
  padding: 0;
  margin: -10px !important; // Override AUI's :first-child rules.

  // A single type
  > .item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    cursor: pointer;
    overflow: auto;
    padding: 10px 10px 10px 152px;

    &.selected,
    &.selected:hover {
      background: @jira-color-selection-background;
    }

    & + li {
      border-top: 1px solid @aui-border-color;
    }

    &:hover {
      background: #e9e9e9;
    }

    // Preview image
    .field-preview,
    .field-preview-empty {
      background: #fff;
      border: 1px solid @aui-border-color;
      float: left;
      margin-left: -140px;
    }
    .field-preview-empty {
      color: #707070;
      display: table;
      height: 50px;
      padding: 5px;
      table-layout: fixed;
      text-align: center;
      width: 110px;
    }
    .field-preview-empty-message {
      display: table-cell;
      vertical-align: middle;
    }
    .field-name {
      margin-top: 0;
    }
  }

  > .empty {
    padding: 0 10px;
  }
  .field-is-managed {
    float: right;
    margin: 5px 0 0 10px;
  }
}

.custom-field-trigger {
  position: absolute;
  left: -999em;
  top: -999em;
}

.custom-field-options {
  margin-top: 10px;

  > ul {
    .plainlist();

    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 250px;

    li {
      .clearfix();

      border-bottom: 1px solid @aui-border-color;
      // Provides 26 pixels of padding for the delete icon, and 23 pixels of padding for the drag handle
      padding: 4px 26px 4px 23px;
      position: relative;

      &:first-child {
        border-top: 1px solid @aui-border-color;
      }
      &.ui-sortable-helper,
      &:hover {
        background-color: @aui-color-highlight-primary;
      }

      .custom-field-options-delete {
        float: right;
        // Shifts the right margin of the delete icon 21 pixels to the left (to make there be a 5px gap between the edge of the parent and the icon) and sets a 5px left margin
        margin: 2px -21px 0 5px;
        cursor: pointer;
        &:link,
        &:active,
        &:focus,
        &:hover,
        &:visited {
          color: @aui-color-mid;
          text-decoration: none;
        }
      ;
      }

      .custom-field-option-handle {
        background: inlineimage("global/images/grippy.png");
        bottom: 4px;
        cursor: move;
        left: 5px;
        position: absolute;
        top: 4px;
        width: 8px;
      }

      .custom-field-option-value {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &.disabled {
    > ul li {
      color: #999;
    }
    .custom-field-options-delete,
    .custom-field-option-handle {
      visibility: hidden;
    }
  }
}

.custom-field-options-add {
  margin-left: 5px;
}

#inline-dialog-customfield-project-list {
  z-index: 9999;
}
