//@import "webstatic:/ui/imports/colours";
@import "../../global/css/jira-colours";
@import "../../global/css/mixins/break-word";
@import "../../global/css/mixins/border-box";

.transition (@transition) {
  -moz-transition: @transition;
  -o-transition: @transition;
  -webkit-transition: @transition;
  transition: @transition;
}

#project-config-panel-workflows {

  @workflow-width: 84%;

  .project-config-workflow-assign-issue-types {
    display: none;
  }

  .project-config-workflow-remove {
    display: none;
  }

  &.project-config-workflow-migrating {
    opacity: .5;

    .project-config-workflows-shared-message {
      display: none;
    }
  }

  .project-config-workflow-diagram {
    display: inline;
  }

  .project-config-workflow-diagram-container {
    height: 100%;
    width: 100%;
  }

  .project-config-workflow-diagram-aligner {
    line-height: 248px;
    vertical-align: middle;
  }

  .project-config-multiple-workflows {
    .project-config-workflow-container {
      height: 250px;
    }

    .project-config-workflow-issue-types-list {
      overflow-y: hidden;
    }

    .project-config-list {
      overflow-y: auto;
      max-height: 250px;
    }

    &.project-config-workflow-editable {
      .project-config-workflow-assign-issue-types {
        display: inline;
      }

      .project-config-workflow-remove {
        display: inline-block;
      }

      .project-config-list {
        margin-top: 5px;
        max-height: 225px;
        overflow-y: auto;
      }
    }
  }

  .project-config-workflow-name {
    display: inline-block;
    font-weight: normal;
  }

  h2 {
    font-weight: normal;
  }

  .command-bar {
    margin-bottom: 8px;
  }

  .project-config-panel-header {
    position: relative;

    h2 .aui-lozenge {
      vertical-align: middle;
    }

    .project-config-workflows-scheme-name {
      display: inline-block;
      font-weight: normal;
      margin: 0 8px 0 0;
    }
  }

  .workflows-table-header-name {
    width: 45%;
    text-align: left;
  }

  .workflows-table-header-issue-types {
    width: 25%;
    text-align: left;
  }

  .workflows-table-header-actions {
    width: 12%;
    text-align: left;
  }

  .project-config-workflow-row {
    margin-bottom: 16px;
    border-top: 1px solid #E1E1E1;
  }

  .project-config-workflow-row:first-child {
    border-top: 0;
  }

  .project-config-workflow-heading {

    padding: 12px 4px;

    h3 {
      font-weight: normal;
    }
  }

  .project-config-workflow-issue-types-float {
    xposition: absolute;
    right: 0;
    width: 100% - @workflow-width;
    height: 100%;
  }

  .project-config-workflow-view-links {
    display: inline;
    padding-left: 10px;
  }

  .project-config-list .project-config-list-label {
    float: none;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .project-config-workflow-container-container {
    position: relative;
  }

  .project-config-workflow-container {
    position: relative;
    width: @workflow-width;
    background-color: white;
    border: 1px solid #D1D1D1;
    text-align: center;
    min-height: 250px;
    cursor: pointer;
    .border-box();

    .aui-lozenge, .project-config-workflow-edit {
      position: absolute;
      left: 0;
      margin: 10px;
    }
  }

  .project-config-workflows-toolbar {
    margin: 16px 0;
  }

  .project-config-workflow-remove {
    margin-left: 12px;
    color: #707070;

    &:hover {
      color: #333;
    }
  }
}

.project-config-panel-container {
  position: relative;
}

.project-config-transparent-blanket {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2500;
  background: black;
  opacity: 0;
}

.msie .project-config-workflow-diagram {
  height: auto;
  width: auto;
}

#add-workflow-dialog {
  .aui-popup-heading {
    border-bottom: 1px solid #ddd;
  }

  .project-config-workflow-add-dialog-body {
    position: relative;
    min-height: 460px;

    ul.project-config-workflow-add-dialog-list {
      overflow: auto;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 35%;
      padding: 0;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;

      li {
        .break-word();
        padding: 10px 20px;
        border-top: 1px solid #eee;
        color: @jira-color-subtle-text;

        &:hover {
          background-color: #f0f0f0;
          cursor: pointer;
        }

        &.selected {
          background-color: #F0F7FC;
        }

        &.selected, &.selected + li {
          border-top-color: #D0DCE3;
        }

        &:first-child {
          border-top: 0;
        }

        &:last-child {
          border-bottom: 1px solid #eee;
        }

        &:last-child.selected {
          border-bottom-color: #D0DCE3;
        }
      }
    }

    .project-config-workflow-add-dialog-preview {
      border-left: 1px solid #ddd;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 65%;
      .border-box();
      padding: 30px;
      text-align: center;

      .project-config-workflow-add-dialog-preview-diagram-container {
        height: 80%;
        width: 100%;

        .project-config-workflow-add-dialog-preview-name {
          position: absolute;
          top: 8px;
          left: 0;
          text-align: center;
          width: 100%;
          border-bottom: 0;
        }

        .project-config-workflow-diagram-aligner {
          line-height: 25em;
          vertical-align: middle;
        }
      }

      .project-config-workflow-add-dialog-preview-desc-panel {
        position: absolute;
        bottom: 8px;
        left: 0;
        right: 0;

        dl {
          padding-bottom: 5px;

          dt, dd {
            padding-left: 5px;
            padding-right: 5px;
          }

          dt {
            color: @jira-color-subtle-text;
            text-align: right;
          }

          dd {
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            text-align: left;
            width: 26em;
            margin-left: 0;

            .project-config-workflow-add-dialog-preview-last-modified-date {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

#assign-issue-types-dialog {
  .aui-popup-heading {
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .project-config-workflows-issue-types-body {
    border-top: 1px solid #DDD;
    max-height: 450px;
    overflow: auto;

    table.aui {
      border-collapse: collapse;
      width: 100%;

      thead tr {
        border-top: 0;
      }

      th {
        font-weight: bold;
        color: @jira-color-subtle-text;
      }

      th, td {
        padding: 10px 0 10px 20px;
      }

      tr {
        background: 0;
        border-top: 1px solid #eee;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
        border-bottom: 0;

        &.selected td {
          background-color: #F0F7FC;
        }

        &.selected, &.selected + tr {
          border-top-color: #D0DCE3;
        }
      }

      .project-config-workflows-issue-types-col {
        width: 15em;
      }

      .project-config-workflows-warning-col {
        padding: 10px;
      }

      .project-config-workflows-assign-issue-types-row td {
        vertical-align: middle;

        > * {
          vertical-align: middle;
        }
      }

      .project-config-workflows-currently-assigned-name {
        color: @jira-color-subtle-text;

        .project-config-workflows-currently-assigned-name-text {
          .break-word();
          max-width: 23em;
          display: inline-block;
        }
      }

      .project-config-issuetype-name {
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 9em;
        white-space: nowrap;
      }
    }
  }

  .project-config-workflows-assign-issue-types-message-bar {
    border-top: 1px solid #DDD;
  }

  .aui-message {
    margin: 13px;
  }

  .workflow-warning {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(../../../images/icons/icon-warning.png);
  }
}

.page-type-admin.page-type-workflows {
  .studio-admin-table, .content-container {
    table-layout: fixed;
  }

  .studio-admin-table #project-config-panel-workflows {
    padding: 1em;
  }
}

#project-config-panel-workflows {
  .project-config-workflow-container {
    .project-config-workflow-text-link, .read-only, .project-config-workflow-edit {
      opacity: .2;
      .transition(opacity .4s);
    }
  }

  .project-config-workflow-default .project-config-workflow-container, .project-config-workflow-container:hover {
    .project-config-workflow-text-link, .read-only, .project-config-workflow-edit {
      opacity: 1;
    }
  }
}

.aui-list-item.disabled a,
.aui-list-item.disabled.active a {
  cursor: default;
  background-color: white !important;
  color: black !important;
  opacity: .5;
}

.project-config-workflows-draft-message.aui-message {
  border-radius: 0;
  border-width: 0 0 1px;
  margin: -20px -20px 20px;
  max-height: 12em;
  .transition(.4s);

  .aligner, .show-in-original-view, .show-in-draft-view {
    vertical-align: middle;
  }

  .aligner {
    width: 0;
    padding-left: 0;
    padding-right: 0;
    visibility: hidden;
  }

  &.no-draft {
    display: none;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0;
    border-bottom: 0;
  }

  span, .aui-buttons {
    margin-right: 10px;
  }

  .aui-buttons {
    white-space: nowrap;
  }

  &.original-view .show-in-draft-view, &.draft-view .show-in-original-view {
    display: none;
  }
}

.project-config-workflows-migration-progress {
  margin: 0 0 20px;
}

#wait-migrate-dialog {
  .aui-message {
    margin-top: 0;
  }

  #progress-bar-container {
    margin-top: 20px;
    text-align: right;

    .progress-background-color {
      background-color: #f5f5f5;
    }

    .progress-fill-color {
      background-color: #4A6785;
    }

    .progress-background-color, .progress-fill-color {
      border-radius: 5px;
    }

    .percent-complete-text {
      line-height: 22px;
    }
  }
}

.project-config-loading {
  background: url("../../../images/icons/wait-large.gif") no-repeat center;
}
