#workflowscheme-editor {
  .editable-field {
    display: block;

    .save-options {
      display: none;
    }

    textarea {
      overflow: hidden;
      height: 30px;
      resize: none;
    }

    input {
      text-overflow: ellipsis;
    }

    .text {
      font: inherit;
    }

    &.active {
      .text {
        width: 100%;
      }

      .save-options {
        display: block;
      }
    }

    &.inactive .text {
      box-shadow: none;
      border-color: transparent;
    }
  }

  .workflow-scheme-description-container {
    margin-top: 4px;
  }

  .workflow-scheme-toolbar {
    margin-top: 12px;
  }

  .workflows-list {
    table-layout: fixed;

    .operations-header {
      width: 20%;
    }
  }

  .view-workflow-modes {
    .view-workflow-modes-label {
      margin-right: 8px;
    }
  }

  .workflow-description {
    margin-top: 4px;
  }

  .issue-types-list {
    list-style-type: none;
    padding: 0;

    li {
      padding: 5px 0;

      img {
        vertical-align: text-bottom;
      }
    }
  }

  .remove-all-issue-types, .remove-all-issue-types-container:before {
    visibility: hidden;
  }

  &.multiple-workflows {
    .remove-all-issue-types, .remove-all-issue-types-container:before {
      visibility: visible;
    }
  }

  .workflow-name {
    display: inline;
    margin-right: 12px;
  }

  .remove-issue-type {
    color: #999;
    vertical-align: text-top;

    &:hover {
      color: #535353;
    }
  }

  .workflows-migration-message {
    margin-top: 0;
    margin-bottom: 13px;
    z-index: 1;
  }

  .workflows-migration {
    position: relative;

    .workflows-blanket {
      background: #ffffff;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      content: "";
      opacity: .5;
    }
  }
}

.workflowscheme-loading .toolbar-split.toolbar-split-right:before {
  content: " ";
  height: 24px;
  width: 16px;
  float: left;
  background: url("../../../images/icons/wait.gif") no-repeat center;
}

.workflowscheme-editor-loading {
  background: url("../../../images/icons/wait-large.gif") no-repeat center;
  min-height: 200px;
}

::-webkit-input-placeholder {
  font-style: italic !important;
}

:-moz-placeholder {
  font-style: italic !important;
}

:-ms-input-placeholder {
  font-style: italic !important;
}

// for IE 8/9
.input-placeholder {
  font-style: italic !important;
}
