#workflow-text-view {
  .form-body {
    padding-left: 32px;
    padding-right: 32px;
  }

  th {
    font-weight: bold;
    color: #505050;
  }

  table.aui > tbody > tr:last-child {
    border-bottom: 0;
  }

}

.invisible {
  visibility: hidden;
}
