.bubble-chart-gadget-container {
    padding: 20px 20px 20px 10px;
    
    h3 {
        margin-left: 60px;
        text-align: center;
        padding-bottom: 25px;
    }

    .bubble-chart-component-wrapper {
        height: 100%;
    }

    .bubble-chart-component-wrapper {
        position: relative;
        height: 100%;
    }

    .discrete-legend-component-container {
        margin-bottom: 25px;
        // Padding should match the x axis translation value defined in BubbleChartComponent.js. We could set this in code
        // but it would involve parsing a `transform` value with a regex, and we need to use this 60px in other places
        // where it's only easily accessible via CSS.
        padding-left: 60px;
    }
}
