.webhooks {
  .aui-toolbar {
    padding-top: 10px;
  }

  .transitions-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .atlassian-autocomplete {
    position: relative;

    .overlabel-apply {
      padding: .5em .5em .5em 26px;
      width: 100%;
    }

    .search-entry {
      padding: .5em .5em .5em 26px;
      min-height:48px;
    }
  }

  .webhook-section-panel .webhook-jql-container {
    padding: 0;
    margin: 0;
    label.display-mode-display, span.display-mode-display {
      padding: 0;
      margin: 0;
    }
  }
}

#jqlerrormsg {
  position: absolute;
  top: 9px;
  left: 6px;
  width: 16px;
  height: 16px;
}