@selected-circle-border-color: #3572b0;
@axis-label-text-color: #333333;

.discrete-legend-component {

    .discrete-legend-svg {
        fill-opacity: 0.75;
        width: 100%;
        height: 30px;

        text {
            fill: @axis-label-text-color;
            font-family: 'Arial', sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;
            text-anchor: middle;
        }
    }

    .segment-group {
        rect {
            &.original-segment {
                display: block;
                stroke-width: 2;
                stroke: white;
                fill-opacity: 0.75;
            }

            &.backing-segment {
                display: none;
                stroke-width: 2;
                stroke: @selected-circle-border-color;
                fill: white;
            }

            &.selected-segment {
                display: none;
                stroke-width: 1;
                stroke: @selected-circle-border-color;
                fill-opacity: 1.0;
            }
        }
    }

    .segment-group.highlighted {
        rect {
            &.original-segment {
                stroke-width: 0;
                fill-opacity: 1.0;
            }
        }
    }

    .segment-group.selected {
        rect {
            &.original-segment {
                display: none;
            }

            &.backing-segment {
                display: block;
            }

            &.selected-segment {
                display: block;
            }
        }
    }
}
