@import "../../global/css/aui-colours";
@import "../../global/css/mixins/h3-style";

#project-config-description {
  border-bottom: 1px solid @aui-border-color;
  padding: 5px 0 25px 0;
  margin-bottom: 25px;
}

.project-config-webpanel {
  padding-left: 58px;
  position: relative;

  .project-config-icon48-components,
  .project-config-icon48-fields,
  .project-config-icon48-issuetypes,
  .project-config-icon48-notifications,
  .project-config-icon48-people,
  .project-config-icon48-permissions,
  .project-config-icon48-screens,
  .project-config-icon48-settings,
  .project-config-icon48-versions,
  .project-config-icon48-workflows {
    background-image: none;

    &:after {
      content: "";
      height: 48px;
      left: 0;
      position: absolute;
      top: 0;
      width: 48px;
      background: transparent none no-repeat 0 0;
    }
  }

  .project-config-icon48-components:after {
    background-image: url(images/icon48-components.png);
  }
  .project-config-icon48-fields:after {
    background-image: url(images/icon48-fields.png);
  }
  .project-config-icon48-issuetypes:after {
    background-image: url(images/icon48-issuetypes.png);
  }
  .project-config-icon48-notifications:after {
    background-image: url(images/icon48-notifications.png);
  }
  .project-config-icon48-people:after {
    background-image: url(images/icon48-people.png);
  }
  .project-config-icon48-permissions:after {
    background-image: url(images/icon48-permissions.png);
  }
  .project-config-icon48-screens:after {
    background-image: url(images/icon48-screens.png);
  }
  .project-config-icon48-settings:after {
    background-image: url(images/icon48-settings.png);
  }
  .project-config-icon48-versions:after {
    background-image: url(images/icon48-versions.png);
  }
  .project-config-icon48-workflows:after {
    background-image: url(images/icon48-workflows.png);
  }
}

.project-config-webpanel-column-content {
  > .module {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
  }

  + .project-config-webpanel-column-content {
    border-top: 1px solid @aui-border-color;
    margin-top: 25px;
    padding-top: 25px;
  }
}

.project-config-summary-scheme {
  strong {
    display: block;
    font-weight: normal;
  }
  a {
    .h3-style();
  }
}

.project-config-more-link {
  display: none;
}

// Change the split columns to be a single one on small viewports
@media screen and (min-width: 0) and (max-width: 1024px) {
  .project-config-webpanel-column-wrap {
    .project-config-webpanel-column {
      display: block;
      float: none;
      width: auto;

      + .project-config-webpanel-column {
        border-top: 1px solid @aui-border-color;
        margin-top: 25px;
        padding-left: 0;
        padding-top: 25px;
      }
    }
  }
}

.project-config-version-release-date {
  color: @aui-color-mid;
}
