.onboarding-sequence-assign-issues {

    form.aui {
        .buttons-container.right {
            margin-top: 50px;
            text-align: right;
        }
    }

    .issue-table {
        margin-top: 30px;
    }

    .issue-table > thead > tr > th,
    .issue-table > thead > tr > td,
    .issue-table > tbody > tr > th,
    .issue-table > tbody > tr > td,
    .issue-table > tfoot > tr > td {
        border-bottom-color: transparent;
        vertical-align: middle;
    }

    .issue-table .assignee {
        max-width: 300px;
        width: 300px;
    }
}
