#project-config-people-table {

  .project-config-list {
    overflow: hidden;
    li {
      border: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 4px;

      float: left;
      > span {
        white-space: nowrap;
      }
    }
  }

  .project-config-role-name {
    width: 1%;
    padding-right: 20px;
    white-space: nowrap;
  }

  .project-config-role-users {
    min-width: 280px;
  }

  .project-config-role-groups {
    width: 280px;
  }

  .project-config-avatar {
    margin-right: 5px;
  }

  .multi-select {
    width: 100%;
  }
}